*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(255, 254, 250);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h2 {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #ad6a4b;
  padding-bottom: 0.5rem;
}

p,
span {
  color: #b6ae9f;
  font-weight: 400;
}

button {
  border-radius: 5rem;
  padding: 0.5rem 1.5rem;
  border: none;
  font-family: "roboto";
  font-weight: 500;
  cursor: pointer;
}

.dark-bg-btn {
  background-color: #4e3326;
  color: white;
}

.dark-bg-btn:hover {
  background-color: #4e332699;
  transition: 0.4s;
}

.margin {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.white {
  color: white;
}

.border-radius {
  border-radius: 1rem;
}

#hero,
#about,
#destinations {
  margin-bottom: 3rem;
}

/* header section */

header {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.logo {
  font-size: 1.1rem;
  font-weight: 500;
}

header ul {
  display: flex;
  border: 1px solid rgba(255, 255, 255, 0.242);
  background-color: rgba(255, 255, 255, 0.242);
  border-radius: 5rem;
  padding: 0.7rem 0.2rem;
}

header a {
  color: white;
  border-radius: 5rem;
  padding: 0.5rem 2rem;
}

header li a:hover {
  color: #b6ae9f;
  background-color: rgba(255, 255, 255, 0.718);
  transition: 0.4s;
}

header button {
  font-size: 1rem;
  background-color: rgb(238, 236, 231);
}

header button:hover {
  background-color: rgba(255, 255, 255, 0.619);
  transition: 0.4s;
}

/* hero section */

#hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(/images/hero_bg.jpg) no-repeat;
  background-size: cover;
  position: relative;
}

#hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
}

#hero h1 {
  font-size: 4rem;
  font-weight: 500;
  z-index: 1;
}

#hero p {
  font-size: 1.5rem;
  font-weight: 300;
  color: white;
  z-index: 1;
  margin-bottom: 1.5rem;
}

.hero-btns-wrapper {
  display: flex;
  gap: 1rem;
  z-index: 1;
}

.hero-btns-wrapper button {
  font-size: 1.4rem;
  background-color: #d9d2c3;
  padding: 0.9rem 3rem;
}

.hero-btns-wrapper button a {
  color: #582a14;
}

.hero-btns-wrapper button:hover {
  background-color: white;
  transition: 0.8s;
}

/* about section */

#about {
  padding-top: 2rem;
}

.subtitle {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
  color: #582a14;
}

h3 {
  color: #582a14;
}

.split {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

.features-cards-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.features-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 2px solid #d6c4bc;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
}

.icon {
  padding: 0.5rem;
  margin: 1rem 0;
  background-color: #ce7e5a;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.features-card i {
  font-size: 1.5rem;
  color: white;
}

.features-card h3 {
  margin-bottom: 1rem;
}

.explore {
  margin-top: 2.5rem;
}

.category-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.category-img-container {
  height: 500px;
  position: relative;
}

.category-img-container::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
}

.category-img-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.category-img-container button {
  color: white;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 500;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  border: none;
  background: none;
}

.view-more-btn-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

/* destinations section */

#destinations {
  padding-top: 2rem;
}

.destination-cards-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.destination-img-container {
  height: 500px;
  position: relative;
}

.destination-img-container::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  border-radius: 1rem;
}

.destination-img-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.days {
  position: absolute;
  left: 20px;
  top: 15px;
  color: white;
  border: 1px solid white;
  border-radius: 5rem;
  padding: 0.5rem 0.7rem;
  background-color: rgba(0, 0, 0, 0.182);
}

.fa-star {
  color: rgb(252, 212, 34);
}

.rating {
  position: absolute;
  right: 20px;
  top: 15px;
  color: white;
  border: 1px solid white;
  border-radius: 5rem;
  padding: 0.5rem 0.7rem;
  background-color: rgba(0, 0, 0, 0.182);
}

.fa-location-dot {
  color: #863e1d;
}

.location {
  position: absolute;
  left: 15px;
  bottom: 70px;
  color: white;
  border: 1px solid white;
  border-radius: 5rem;
  padding: 0.5rem 1rem;
  background-color: rgba(255, 255, 255, 0.293);
  z-index: 1;
}

.description {
  position: absolute;
  left: 15px;
  bottom: 15px;
  right: 15px;
  color: rgba(255, 255, 255, 0.767);
  line-height: 1rem;
  z-index: 1;
  font-size: 14px;
}

.booking {
  display: flex;
  justify-content: space-between;
}

.package-name {
  margin-top: 1rem;
  margin-bottom: 0.3rem;
}

.price {
  font-weight: 500;
  color: #582a14;
}

.booking button {
  background-color: #d9d2c3;
  color: #4e3326;
}

.booking button:hover {
  background-color: #d9d2c396;
  transition: 0.4s;
}

/* contact section */

.contact-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  background: url(/images/contact_bg.png) no-repeat;
  background-size: cover;
  padding: 3rem;
  height: 600px;
  position: relative;
}

.contact-wrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.1);
}

.contact-wrapper .subtitle {
  margin-bottom: 1rem;
}

.contact-wrapper .para {
  color: #2f2e2b;
  margin-bottom: 1rem;
  z-index: 1;
  font-weight: 500;
}

.contact-btns-wrapper {
  display: flex;
  gap: 0.7rem;
}

.contact-btns-wrapper button {
  color: #2f2e2b;
  background-color: rgba(255, 255, 255, 0.453);
  padding: 0.5rem 1rem;
}

.contact-wrapper form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem;
  background-color: rgb(252, 251, 248);
  z-index: 1;
}

.contact-wrapper form label {
  margin-bottom: 0.5rem;
}

.contact-wrapper form input {
  margin-bottom: 0.8rem;
  padding: 0.5rem;
  border-radius: 5rem;
  border: 1px solid #2f2e2b;
}

.contact-wrapper form textarea {
  margin-bottom: 1.2rem;
  border-radius: 1rem;
  border: 1px solid #2f2e2b;
}

.contact-wrapper form textarea::placeholder {
  padding: 0.5rem;
  font-family: "Roboto", sans-serif;
}

.contact-wrapper form button {
  padding: 0.8rem;
}

/* footer */

footer {
  display: flex;
  justify-content: space-between;
  padding: 4rem;
}

footer h3 {
  margin-bottom: 1rem;
}

.footer-nav {
  display: flex;
  gap: 5rem;
}

.footer-nav li {
  margin-bottom: 1rem;
}

.footer-nav a {
  color: #b6ae9f;
}

.newsletter-wrapper p {
  margin-bottom: 1rem;
}

.newsletter-wrapper form {
  position: relative;
  border: 2px solid #582a14;
  border-radius: 5rem;
  padding: 0.2rem;
  margin-bottom: 2rem;
}

.newsletter-wrapper input {
  padding: 0.5rem;
  border-radius: 5rem;
  border: none;
  width: 100%;
}

.newsletter-wrapper button {
  position: absolute;
  right: 0.15rem;
  top: 0.15rem;
}

.copyright-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright-wrapper p {
  color: #582a14;
}

.social-media-icons {
  display: flex;
  justify-content: end;
  gap: 1rem;
  font-size: 1.2rem;
}

.social-media-icons a {
  color: #582a14;
}
