*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.margin {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.border-radius {
  border-radius: 1rem;
}

#about,
#destinations,
#contact {
  padding-top: 5rem;
}

/* header section */

header {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  position: fixed;
  width: 100%;
}

header ul {
  display: flex;
  gap: 2rem;
}

/* hero section */

#hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(/images/hero_bg.jpg) no-repeat;
  background-size: cover;
  margin: 0.5rem;
  border-radius: 0.3rem;
}

.hero-btns-wrapper {
  display: flex;
  gap: 0.5rem;
}

/* about section */

.split {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.features-cards-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.features-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid black;
  padding: 1rem 1.5rem;
}

.category-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.img-container {
  height: 400px;
  position: relative;
}

.img-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.img-container span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.view-more-btn-wrapper {
  display: flex;
  justify-content: center;
}

/* destinations section */

.destination-cards-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.days {
  position: absolute;
  left: 20px;
  top: 15px;
}

.rating {
  position: absolute;
  right: 20px;
  top: 15px;
}

.location {
  position: absolute;
  left: 20px;
  bottom: 80px;
}

.description {
  position: absolute;
  left: 15px;
  bottom: 15px;
  right: 15px;
}

.booking {
  display: flex;
  justify-content: space-between;
}

/* contact section */

.contact-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  background: url(/images/Screenshot\ 2025-11-29\ 163825.png) no-repeat;
  background-size: cover;
  padding: 3rem;
  height: 700px;
}

.contact-wrapper form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}

/* footer */

footer {
  display: flex;
  justify-content: space-between;
  padding: 3rem;
}

.footer-nav {
  display: flex;
  gap: 1rem;
}

.social-media-icons {
  display: flex;
  justify-content: end;
  gap: 0.5rem;
}
